.img-wrapper-arrow {
    animation: 20s linear animAbout infinite;
}

#contact-form {
    div {
        input[type=submit] {
            @media(max-width: 392px) {
                height: 54px !important;
            }
        }
    }
}

.opened-menu {
    animation: .25s ease-in headerAnim;
}

.header-closed-animation {
    animation: .5s ease-in headerAnim;
}

.opened-contact {
    animation: .5s ease-in headerAnim;
}

.fixed-header {
    animation: 1s linear headerAnim;
}

@keyframes headerAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animAbout {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}