* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    // font-family: 'Work Sans', sans-serif;
    font-family: 'Clash Display', sans-serif;
}

body {
    background: #08080A;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.header {
    padding: 40px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 1200px) {
        padding: 0 124px;
    }
    @media(max-width: 992px) {
        padding: 0 5%;
    }
    @media(max-width: 375px) {
        padding: 0 5%;
    }
}
.logo-wrapper {
    position: relative;
    z-index: 10;
    .logo {
        cursor: pointer;
    }
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px) {
        display: none;
    }
}

#burger, #burger-cancel {
    cursor: pointer;
}

.opened-menu_icon {
    display: block !important;
    z-index: 10;
    position: absolute;
    top: 42px;
}

.opened-menu {
    display: flex !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    flex-direction: column;
    background: #000;
    justify-content: center !important;
    transition: .3s;
    .nav-item {
        a {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            margin-top: 14px;
            display: block;
            margin-left: 0 !important;
        }
    }
}

.nav-item {
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-left: 60px;
        cursor: pointer;
        transition: .3s;
        color: #FFFFFF;
        text-decoration: none;
        @media(max-width: 988px) {
            font-size: 16px;
            margin-left: 36px;
        }
    }
}
.nav-item a:hover {
    color: #ACE231;
    transition: .3s;
}

.mobile-item {
    display: none;
    @media(max-width: 768px) {
        display: block;
    }
}

.main {
    padding-bottom: 150px;
    padding-top: 220px;
    @media(max-width: 1200px) {
        padding-top: 120px;
    }
    @media(max-width: 812px) {
        padding: 75px 0;
    }
}

.main-wrapper {
    position: relative;
}

.arrow-wrapper {
    max-width: 368px;
    width: 100%;
    height: auto;
    position: absolute;
    top: -100px;
    left: 0;
    @media(max-width: 1200px) {
        top: 0;
    }
    @media(max-width: 812px) {
        bottom: 0;
        top: auto;
    }
    @media(max-width: 480px) {
    }
    img {
        @media(max-width: 992px) {
            max-width: 300px;
            width: 100%;
            height: auto;
        }
        @media screen and (max-width: 812px) {
            max-width: 220px;
        }
        @media(max-width: 480px) {
            display: none;
        }
    }
    .main-arrow_mobile {
        display: none;
        @media(max-width: 480px) {
            display: block;
            max-width: 176px;
            height: auto;
            width: 100%;
        }
    }
}

h1 {
    z-index: 3;
    position: relative;
    font-weight: 600;
    font-size: 106px;
    line-height: 131px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #ACE231;
    font-family: 'Clash Display';
    @media(max-width: 1200px) {
        font-size: 98px;
    }
    @media(max-width: 812px) {
        font-size: 80px;
        line-height: 120%;
    }
    @media(max-width: 480px) {
        font-size: 48px;
        line-height: 131%;
    }
}

.main-subtitle {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    max-width: 238px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    right: 43%;
    @media(max-width: 1200px) {
        right: 47%;
    }
    @media(max-width: 992px) {
        right: 49%;
    }
    @media(max-width: 812px) {
        bottom: 16px;
        font-size: 16px;
        right: 47%;
    }
    @media(max-width: 480px) {
        bottom: -85px;
        right: 0;
    }
}

.mobile-burger {
    display: none;
    cursor: pointer;
    @media(max-width: 768px) {
        display: block;
    }
}

#burger-cancel {
    display: none;
}

.section-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Clash Display';
    @media(max-width: 988px) {
        font-size: 32px;
    }
    @media(max-width: 540px) {
        font-size: 28px;
    }
    span {
        color: #ACE231;
    }
}

.grow {
    padding: 150px 0;
    @media(max-width: 812px) {
        padding: 75px 0;
    }
    .grow-wrapper {
        display: flex;
        justify-content: space-between;
        .content {
            background: #0D0DB3;
            padding: 94px 100px;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: end;
            @media(max-width: 812px) {
                padding: 80px 60px;
            }
            @media(max-width: 480px) {
                padding: 28px 33px 130px 33px;
                overflow: hidden;
            }
            .text-wrapper {
                max-width: 430px;
                width: 100%;
                .title {
                    font-family: 'Clash Display';
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 49px;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                    @media(max-width: 480px) {
                        font-size: 29px;
                        line-height: 36px;
                    }
                    span {
                        color: #ACE231;
                    }
                }
                .subtitle {
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    margin-top: 30px;
                    @media (max-width: 480px) {
                        font-size: 16px;
                        margin-top: 25px;
                    }
                }
            }
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 325px;
                width: 100%;
                height: auto;
                @media(max-width: 812px) {
                    max-width: 224px;
                }
                @media(max-width: 480px) {
                    left: 50%;
                    transform: translate(-50%);
                    bottom: -100px;
                }
            }
        }
        .img-wrapper {
            margin-left: 20px;
            @media(max-width: 1200px) {
                display: none;
            }
        }
    }
}

.accomplishments-item:first-child {
    @media(max-width: 1200px) {
        margin-right: 60px;
    }
    @media(max-width: 480px) {
        margin-right: 0;
    }
}

.accomplishments {
    padding: 150px 0;
    @media(max-width: 812px) {
        padding: 75px 0;
    }
    .accomplishments-wrapper {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media(max-width: 812px) {
            padding-top: 55px;
        }
        @media(max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }
        .accomplishments-item {
            @media(max-width: 480px) {
                margin-bottom: 26px;
            }
            img {
                max-width: 100%;
                width: 100%;
                height: auto;
                @media(max-width: 480px) {
                    max-width: 190px;
                }
            }
        }
    }
}

.needs {
    padding-top: 60px;
    padding-bottom: 150px;
    @media(max-width: 812px) {
        padding: 60px 0 75px;
    }
    .needs-title {
        max-width: 660px;
        width: 100%;
        @media(max-width: 480px) {
            z-index: 3;
            position: relative;
        }
    }
    .needs-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        .arrow-fixed {
            position: absolute;
            right: 45%;
            top: 45%;
            @media(max-width: 1200px) {
                right: 10%;
                top: -20%;
                transform: rotate(90deg);
            }
            @media(max-width: 812px) {
                right: 0;
            }
            @media(max-width: 480px) {
                top: -8%;
            }
        }
        .needs-variants {
            max-width: 360px;
            width: 100%;
            @media(max-width: 1200px) {
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .item {
                margin-top: 80px;
                @media(max-width: 1200px) {
                    max-width: 45%;
                }
                @media(max-width: 480px) {
                    max-width: 100%;
                    margin-top: 40px;
                }
                .title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #ACE231;
                    margin-bottom: 17px;
                    @media(max-width: 480px) {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                }
                .text {
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    @media(max-width: 480px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.services {
    padding: 150px 0;
    @media(max-width: 812px) {
        padding: 75px 0;
    }
    .services-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 80px;
        width: 100%;
        @media(max-width: 480px) {
            margin-top: 55px;
        }
        .item {
            font-weight: 500;
            cursor: pointer;
            font-size: 20px;
            line-height: 150%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ACE231;
            border: 5px solid #ACE231;
            max-width: 260px;
            width: 100%;
            height: 260px;
            border-radius: 50%;
            margin-bottom: 40px;
            transition: .3s;
            @media(max-width: 1200px) {
                max-width: 222px;
                height: 222px;
            }
            @media(max-width: 992px) {
                max-width: 200px;
                height: 200px;
            }
            @media (max-width: 812px) {
                max-width: 350px;
                height: 350px;
            }
            @media(max-width: 768px) {
                max-width: 250px;
                height: 250px;
            }
            @media(max-width: 480px) {
                max-width: 140px;
                height: 140px;
                font-size: 15px;
                border-width: 3px;
            }
        }
        .item:hover {
            background: #ACE231;
            border: 0;
            transition: .3s;
            color: #0D0DB3;
        }
    }
}

.banner {
    position: relative;
    padding-top: 150px;
    padding-bottom: 300px;
    @media(max-width: 812px) {
        padding: 75px 0 150px;
    }
    .banner-wrapper {
        padding: 60px 80px;
        position: relative;
        background: #0D0DB3;
        @media(max-width: 1200px) {
            padding: 60px 40px;
        }
        @media(max-width: 480px) {
            padding: 28px 27px 127px;
        }
        h3 {
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 106px;
            line-height: 130px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #ACE231;
            @media(max-width: 1200px) {
                font-size: 90px;
            }
            @media(max-width: 992px) {
                font-size: 80px;
            }
            @media(max-width: 812px) {
                line-height: 150%;
            }
            @media(max-width: 480px) {
                font-size: 46px;
                line-height: 57px;
            }
            @media(max-width: 392px) {
                font-size: 40px;
            }
        }
        .action-btn {
            position: absolute;
            right: 60px;
            bottom: 60px;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #0D0DB3;
            background: #ACE231;
            cursor: pointer;
            @media(max-width: 1200px) {
                right: 40px;
            }
            @media(max-width: 992px) {
                width: 140px;
                height: 140px;
                font-size: 18px;
            }
            @media(max-width: 480px) {
                width: 120px;
                height: 120px;
                font-size: 15px;
                line-height: 22px;
                right: 50%;
                bottom: -60px;
                transform: translate(50%);
            }
        }
    }
}

.footer {
    background: #0D0DB3;
    .footer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 60px 0 30px;
        .social-wrapper {
            margin-top: 28px;
            @media(max-width: 480px) {
                max-width: 210px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a {
                    margin: 26px 18px 0 !important;
                }
            }
        }
        .contacts {
            @media(max-width: 480px) {
                display: flex;
                flex-direction: column-reverse;
                a {
                    font-size: 14px;
                    font-weight: 700;
                    margin: 13px 0 !important;
                }
            }
        }
        .item {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ACE231;
            a {
                text-decoration: none;
                color: #ACE231;
                margin: 0 18px;
            }
        }
        .rights {
            color: #FFFFFF;
            font-size: 18px;
            line-height: 150%;
            text-transform: none;
            margin-top: 60px;
            font-weight: 400;
            @media(max-width: 480px) {
                margin-top: 36px;
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
}

#contact-form {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    background: #08080A;
    width: 100%;
    z-index: 99;
    svg {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    div {
        max-width: 440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media(max-width: 480px) {
            max-width: 320px;
        }
        h3 {
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #ACE231;
            margin-bottom: 34px;
            @media(max-width: 480px) {
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 16px;
            }
        }
        label {
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            padding: 28px 0 8px;
            @media(max-width: 480px) {
                font-size: 14px;
                line-height: 17px;
            }
        }
        input {
            border: none;
            border-bottom: 2.5px solid #ACE231;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 22px 0;
            background: transparent;
            color: #FFFFFF;
            font-size: 18px;
            @media(max-width: 480px) {
                font-size: 15px;
            }
        }
        input:focus, textarea:focus {
            outline: none;
        }
        #necessary {
            margin-top: -20px;
            color: #838384;
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.01em;
        }
        textarea {
            display: flex;
            align-items: center;
            padding: 8px 0;
            background: transparent;
            height: 80px;
            border: none;
            border-bottom: 2.5px solid #ACE231;
            resize: none;
            color: #FFFFFF;
            font-size: 18px;
            @media(max-width: 480px) {
                font-size: 15px;
            }
        }
        input[type=submit] {
            background: #ACE231;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #08080A;
            margin-top: 30px;
            @media(max-width: 480px) {
                height: 48px;
                margin-top: 32px;
            }
        }
    }
}

.d-flex {
    display: flex !important;
}



.h1-title {
    font-family: 'Clash Display';
    font-weight: 600;
    font-size: 106.544px;
    line-height: 131px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #ACE231;
    text-transform: uppercase;
    span {
        color: #FFFFFF;
    }
    @media(max-width: 812px) {
        font-size: 90px;
        line-height: 120%;
    }
    @media(max-width: 480px) {
        font-size: 50px;
        line-height: 62px;
    }
}

.main-services {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 75px 0;
    }
    .services-wrapper {
        position: relative;
        .subtitle {
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            max-width: 625px;
            font-weight: 400;
            padding-top: 20px;
            margin: auto;
            font-family: 'Work Sans';
            @media(max-width: 480px) {
                font-size: 16px;
            }
        }
        .img-wrapper {
            position: absolute;
            top: -60px;
            right: 0;
            z-index: -1;
            @media(max-width: 480px) {
                top: -25px;
                right: 40px;
            }
            @media(max-width: 362px) {
                right: 20px;
            }
            img {
                max-width: 385px;
                width: 100%;
                height: auto;
                @media(max-width: 990px) {
                    max-width: 300px;
                }
                @media(max-width: 480px) {
                    max-width: 160px;
                }
            }
        }
    }
}

.strategy {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 75px 0;
    }
    .wrapper {
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 200px;
            @media(max-width: 990px) {
                margin-bottom: 120px;
            }
            @media(max-width: 480px) {
                margin-bottom: 100px;
            }
            .content {
                display: flex;
                flex-direction: column;
                .title {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #ACE231;
                    margin: 40px 0 17px;
                    font-family: 'Work Sans';
                    @media(max-width: 480px) {
                        font-weight: 700;
                        font-size: 18px;
                        margin: 30px 0 20px;
                    }
                }
                .text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    font-family: 'Work Sans';
                    color: #FFFFFF;
                    @media(max-width: 480px) {
                        font-size: 16px;
                    }
                }
            }
            .img-wrapper {
                img {
                }
            }
        }
        .item:last-child {
            margin-bottom: 0;
        }
        .item:nth-child(odd) {
            @media(max-width: 812px) {
                flex-direction: column-reverse;
            }
            .img-wrapper {
                margin-left: 80px;
                @media(max-width: 812px) {
                    margin-bottom: 80px;
                    margin-left: 0;
                }
                @media(max-width: 480px) {
                    margin-bottom: 30px;
                }
            }
        }
        .item:nth-child(even) {
            @media(max-width: 812px) {
                flex-direction: column;
            }
            .img-wrapper {
                margin-right: 80px;
                @media(max-width: 812px) {
                    margin-bottom: 80px;
                    margin-right: 0;
                }
                @media(max-width: 480px) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.portfolio {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 75px 0;
    }
    .wrapper {
        position: relative;
        .h1-title {
            text-align: right;
            @media(max-width: 392px) {
                text-align: left;
            }
        }
        .img-wrapper {
            position: absolute;
            top: -100%;
            left: -5%;
            @media(max-width: 1160px) {
                top: -25%;
            }
            @media(max-width: 480px) {
                top: -80%;
                left: 10%;
            }
            @media(max-width: 392px) {
                top: -30%;
                left: 5%;
            }
            img {
                max-width: 576px;
                width: 100%;
                height: auto;
                @media(max-width: 990px) {
                    max-width: 480px;
                }
                @media(max-width: 480px) {
                    max-width: 240px;
                }
            }
        }
    }
}

.content-portfolio {
    padding: 150px 0 260px;
    @media(max-width: 990px) {
        padding: 120px 0 200px;
    }
    @media(max-width: 480px) {
        padding: 75px 0 110px;
    }
    .wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media(max-width: 770px) {
            flex-direction: column;
            align-items: center;
        }
        .select-menu {
            display: flex;
            flex-direction: column;
            min-width: 25%;
            @media(max-width: 770px) {
                align-items: center;
            }
            @media(max-width: 480px) {
                margin-bottom: 60px;
            }
            .item {
                padding: 8px 12px;
                margin-bottom: 16px;
                border: 3px solid #ACE231;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #ACE231;
                cursor: pointer;
                max-width: fit-content;
                @media(max-width: 480px) {
                    max-width: 100%;
                }
            }
            .item:last-child {
                margin-bottom: 0;
            }
            .active-item {
                color: #FFFFFF;
                font-weight: 700;
                background: #ACE231;
            }
        }
        .cases-wrapper {
            display: flex;
            flex-direction: column;
            .item {
                transition: .3s;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 40px 60px;
                margin-bottom: 120px;
                @media(max-width: 480px) {
                    flex-direction: column;
                    padding: 40px 44px;
                    margin-bottom: 60px;
                    margin-left: -5%;
                    margin-right: -5%;
                }
                .title {
                    font-family: 'Work Sans';
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 47px;
                    letter-spacing: 0.03em;
                    color: #ACE231;
                    @media(max-width: 480px) {
                        text-align: center;
                    }
                }
                .text {
                    font-family: 'Work Sans';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    margin: 40px 0 20px;
                }
                .label {
                    font-family: 'Work Sans';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #ACE231;                    
                    border: 3px solid #ACE231;
                    padding: 8px 12px;
                    max-width: fit-content;
                }
                .img-wrapper {
                    margin-right: 40px;
                    @media(max-width: 480px) {
                        margin-right: 0;
                    }
                    svg {
                        stroke: #08080A;
                        circle {
                            stroke: #ACE231;
                        }
                        circle:first-child {
                            fill: #ACE231;
                        }
                        path {
                            fill: #08080A !important;
                        }
                    }
                }
            }
            .item:hover {
                transition: .3s;
                background: #ACE231;
                .title, .text, .label {
                    color: #08080A;
                }
                .text {
                    font-weight: 600;
                }
                .label {
                    border: 3px solid #08080A;
                }
                .img-wrapper {
                    svg {
                        stroke: #ACE231;
                        circle {
                            stroke: #08080A;
                        }
                        circle:first-child {
                            fill: #08080A;
                        }
                        path {
                            fill: #ACE231 !important;
                        }
                    }
                }
            }
            .item:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.about {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media(max-width: 480px) {
            justify-content: flex-end;
        }
        .h1-title {
            @media(max-width: 480px) {
                text-align: right;
                max-width: 300px;
            }
        }
        .img-wrapper {
            position: absolute;
            right: 0;
            top: -30px;
            z-index: -1;
            @media(max-width: 480px) {
                top: -45px; 
            }
            img {
                @media(max-width: 992px) {
                    max-width: 320px;
                    width: 100%;
                    height: auto;
                }
                @media(max-width: 770px) {
                    max-width: 240px;
                    width: 100%;
                    height: auto;
                }
                @media(max-width: 480px) {
                    max-width: 160px;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .img-wrapper-arrow {
            margin-right: 30px;
            @media(max-width: 992px) {
                max-width: 400px;
                width: 100%;
                height: auto;
            }
            @media(max-width: 480px) {
                position: absolute;
                top: 30%;
                transform: translateY(-50%);
                left: -30px;
                max-width: 200px; 
            }
            img {
                @media(max-width: 992px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .subtext-wrapper {
        display: flex;
        justify-content: start;
        @media(max-width: 480px) {
            flex-direction: column;
        }
        .text {
            font-family: 'Work Sans';
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            @media(max-width: 770px) {
                font-size: 16px;
            }
        }
        .text:first-child {
            margin-right: 40px;
            max-width: 360px;
            @media(max-width: 480px) {
                max-width: 100%;
                margin-bottom: 20px;
                margin-top: 36px;
            }
        }
        .text:last-child {
            max-width: 620px;
            @media(max-width: 480px) {
                max-width: 100%;
            }
        }
    }
}

.team {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 50px 0 75px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
        @media(max-width: 480px) {
            justify-content: center;
            margin-top: 35px;
        }
        .item {
            position: relative;
            min-height: 455px;
            max-width: 360px;
            width: 100%;
            margin-right: 40px;
            margin-top: 40px;
            @media(max-width: 812px) {
                max-width: 300px;
                min-height: 400px;
            }
            @media(max-width: 480px) {
                margin-top: 20px;
            }
            .card {
                background: #08080A;
                border: 2px solid #ACE231;
                width: 300px;
                height: 396px;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 30px;
                @media(max-width: 812px) {
                    width: 240px;
                    height: 330px;
                    padding: 20px;
                }
                .name {
                    margin-top: 15px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    text-align: center;
                    color: #ACE231;
                }
                .pos {
                    font-family: 'Work Sans';
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-align: center;
                }
                img {
                    @media(max-width: 812px) {
                        max-width: 200px;
                        max-height: 200px;
                    }
                }
            }
            .card:nth-child(1) {
                z-index: 3;
            }
            .card:nth-child(2) {
                z-index: 4;
                transform: translate(20px, 20px);
            }
            .card:nth-child(3) {
                z-index: 5;
                transform: translate(40px, 40px);
            }
            .card:nth-child(4) {
                z-index: 6;
                transform: translate(60px, 60px);
            }
        }
        .item:nth-child(3n) {
            margin-right: 0;
            @media(max-width: 1190px) {
                margin-right: 40px;
            }
        }
        .item-reversed {
            margin-top: 40px;
            // @media(max-width: 1190px) {
            //     margin-top: 0;
            // }
            .card:nth-child(1) {
                z-index: 6;
            }
            .card:nth-child(2) {
                z-index: 5;
                transform: translate(20px, 20px);
            }
            .card:nth-child(3) {
                z-index: 4;
                transform: translate(40px, 40px);
            }
            .card:nth-child(4) {
                z-index: 3;
                transform: translate(60px, 60px);
            }
        }
        .item:nth-child(2n) {
            @media(max-width: 1190px) {
                margin-right: 40px;
            }
        }
    }
}

.social-about {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 75px 0;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        @media(max-width: 480px) {
            flex-direction: column;
            margin-top: 55px;
        }
        .item {
            img {
                max-width: 240px;
                width: 100%;
                height: auto;
                @media(max-width: 812px) {
                    max-width: 194px;
                }
            }
        }
        .item:nth-child(2) {
            margin: 0 60px;
            @media(max-width: 480px) {
                margin: 20px 0;
            }
        }
    }
}

.about-before_footer {
    padding-top: 150px;
    width: 100%;
    padding-bottom: 20px;
    @media(max-width: 992px) {
        padding-top: 120px;
    }
    @media(max-width: 480px) {
        padding-top: 75px;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.main {
    padding: 150px 0;
    @media(max-width: 990px) {
        padding: 120px 0;
    }
    @media(max-width: 480px) {
        padding: 75px 0 50px;
    }
    .wrapper {
        position: relative;
        .back-wrapper {
            position: absolute;
            top: -150px;
            left: 0;
            display: block;
            cursor: pointer;
            @media(max-width: 812px) {
                top: -120px;
            }
            @media(max-width: 480px) {
                top: -75px;
            }
            svg {
                max-width: 55px;
                width: 100%;
                height: auto;
            }
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;   
                font-family: 'Clash Display';
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media(max-width: 480px) {
                    font-size: 16px;
                    line-height: 20px;
                    right: -16px;
                }
            }
        }
        .section-wrapper {
            position: relative;
            .img-wrapper {
                position: absolute;
                top: -122px;
                right: 0;
                @media(max-width: 480px) {
                    top: -60px;
                    max-width: 240px;
                    width: 100%;
                    height: auto;
                }
                img {
                    @media(max-width: 480px) {
                        max-width: 240px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .h1-title {
                max-width: 730px;
                @media(max-width: 392px) {
                    max-width: 235px;
                }
            }
        }
    }
}

.cases-title {
    font-family: 'Clash Display';
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ACE231;
    @media(max-width: 480px) {
        font-size: 30px;
        line-height: 37px;
    }
}

.introduction {
    padding: 150px 0 100px;
    @media(max-width: 990px) {
        padding: 120px 0 80px;
    }
    @media(max-width: 480px) {
        padding: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 80px;
        @media(max-width: 480px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        .content {
            max-width: 860px;
            margin-right: 60px;
            @media(max-width: 480px) {
                margin-right: 0;
            }
            .cases-title {
                margin-bottom: 80px;
                @media(max-width: 992px) {
                    margin-bottom: 60px;
                }
                @media(max-width: 480px) {
                    margin-bottom: 55px;
                }
            }
            .item {
                font-family: 'Work Sans';
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0.05em;
                margin-bottom: 20px;
                color: #FFFFFF;
                @media(max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
                span {
                    color: #ACE231;
                    margin-right: 6px;
                    font-weight: 600;
                    @media(max-width: 480px) {
                        font-weight: 700;
                    }
                }
            }
            .item:last-child {
                margin-bottom: 0;
            }
        }
        .img-wrapper {
            @media(max-width: 480px) {
                max-width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}

// .client-review_title {
//     max-width: fit-content;
//     margin-left: 30%;
// }

.client-review {
    padding: 100px 0;
    @media(max-width: 990px) {
        padding: 80px 0;
    }
    @media(max-width: 480px) {
        padding: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        @media(max-width: 992px) {
            margin-top: 60px;
        }
        @media(max-width: 480px) {
            margin-top: 55px;
            flex-direction: column;
        }
        .content {
            margin-left: 115px;
            @media(max-width: 812px) {
                margin-left: 60px;
            }
            @media(max-width: 480px) {
                margin-left: 0;
                
            }
            .cases-title {
                margin-bottom: 80px;
                @media(max-width: 992px) {
                    margin-bottom: 60px;
                }
                @media(max-width: 480px) {
                    margin-bottom: 80px;
                }
            }
            .quote {
                font-family: 'Clash Display';
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                position: relative;
                @media(max-width: 480px) {
                    font-size: 20px;
                    line-height: 25px;
                    max-width: 250px;
                }
            }
            .quote::before {
                content: '“';
                position: absolute;
                top: -48px;
                left: -36px;
                font-family: 'Clash Display';
                font-weight: 600;
                font-size: 60px;
                line-height: 74px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
            .quote::after {
                content: '”';
                position: absolute;
                bottom: -48px;
                right: -36px;
                font-family: 'Clash Display';
                font-weight: 600;
                font-size: 60px;
                line-height: 74px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
            .link {
                font-family: 'Clash Display';
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #ACE231;
                text-decoration: underline;
                margin-top: 40px;
                display: block;
            }
        }
        .img-wrapper {
            @media(max-width: 812px) {
                max-width: 200px;
                width: 100%;
                height: auto;
            }
            @media(max-width: 480px) {
                margin-bottom: 30px;
            }
            img {
                @media(max-width: 812px) {
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.long-story {
    padding: 100px 0 35px;
    @media(max-width: 990px) {
        padding: 80px 0 35px;
    }
    @media(max-width: 480px) {
        padding: 50px 0 30px;
    }
    .wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 992px) {
            margin-top: 60px;
        }
        @media(max-width: 480px) {
            margin-top: 55px;
            flex-direction: column-reverse;
        }
        .content {
            margin-right: 48px;
            max-width: 860px;
            @media(max-width: 812px) {
                margin-right: 36px;
                max-width: 550px;
            }
            @media(max-width: 480px) {
                margin-right: 0;
            }
            .text {
                font-family: 'Work Sans';
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                margin-top: 80px;
                @media(max-width: 480px) {
                    margin-top: 30px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
        .img-wrapper {
            @media(max-width: 812px) {
                max-width: 250px;
                width: 100%;
                height: auto;
            }
            img {
                @media(max-width: 812px) {
                    max-width: 250px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.challenge {
    padding: 35px 0 100px;
    @media(max-width: 990px) {
        padding: 35px 0 80px;
    }
    @media(max-width: 480px) {
        padding: 30px 0 50px;
    }
    .wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 992px) {
            margin-top: 60px;
        }
        @media(max-width: 480px) {
            margin-top: 0;
            flex-direction: column;
        }
        .content {
            margin-left: 75px;
            @media(max-width: 480px) {
                margin-left: 0;
            } 
            .item {
                font-family: 'Work Sans';
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                margin-top: 25px;
                @media(max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
            }
        }
        .img-wrapper {
            margin-top: 25px;
            @media(max-width: 480px) {
                margin-top: 0;
                margin-bottom: 30px;
            }
        }
    }
}

.solution {
    padding: 100px 0;
    @media(max-width: 990px) {
        padding: 80px 0;
    }
    @media(max-width: 480px) {
        padding: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        @media(max-width: 992px) {
            margin-top: 60px;
        }
        @media(max-width: 480px) {
            margin-top: 55px;
            flex-direction: column-reverse;
        }
        .list {
            margin-right: 77px;
            @media(max-width: 480px) {
                margin-right: 0;
            }
            .item {
                font-family: 'Work Sans';
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 40px;
                @media(max-width: 480px) {
                    margin-top: 36px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .item:first-child {
                margin-top: 0;
            }
        }
        .img-wrapper {
            @media(max-width: 480px) {
                margin-bottom: 30px;
            }
        }
    }
}

.results {
    padding: 100px 0 150px;
    @media(max-width: 990px) {
        padding: 80px 0 120px;
    }
    @media(max-width: 480px) {
        padding: 50px 0 75px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media(max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }
        .content {
            margin-left: 68px;
            @media(max-width: 480px) {
                margin-left: 0;
            }
            .cases-title {
                margin-left: -16px;
            }
            .list {
                margin-top: 80px;
                margin-bottom: 40px;
                @media(max-width: 992px) {
                    margin-top: 60px;
                }
                @media(max-width: 480px) {
                    margin-top: 40px;
                }
                .item {
                    font-family: 'Work Sans';
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    @media(max-width: 480px) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
            .img-wrapper-graphic {
                img {
                    max-width: 860px;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .img-wrapper {
            margin-top: 80px;
            @media(max-width: 480px) {
                margin-top: 0;
                margin-bottom: 30px;
            }
        }
    }
}